# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*

# SSH keys
*.pem
*.key
id_rsa
id_ed25519

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Ansible
*.retry

# Temporary files
tmp/
temp/

# Python
__pycache__/
*.pyc

# Node.js
node_modules/